.ui-autocomplete {
	max-height: 100px;
	overflow-y: auto;
	/* 防止水平滚动条 */
	overflow-x: hidden;
}
/* IE 6 不支持 max-height
* 我们使用 height 代替，但是这会强制菜单总是显示为那个高度
*/
* html .ui-autocomplete {
	height: 100px;
}
* {
	margin: 0;
	padding: 0;
}
main {
	border: 0 none;
}
nav {
	border-bottom: 2px solid #1171B7;
}
.background-image {
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-position: top left;
	border: 0.1px solid #fff;
}
.main-search {
	width: 55vw;
	height: 30%;
	margin-top: 2rem;
	margin-left: 3rem;
}
.table-ticket {
	width: 91vw;
	height: 30%;
	margin: 2rem 3rem;
}
div.info {
	margin-bottom: 2rem;
	margin-left: 3rem;
}
.main-search, .table-ticket {
	background-color: rgba(0, 41, 64, 0.75);
	color: #fff;
}
h5.card-title {
	text-shadow: 4px 4px #eee;
	font-family: 'Courgette', cursive;
	font-size: 1.5rem;
	font-weight: 400;
}
p.card-text {
	font-family: 'Dancing Script', cursive;
	font-size: 1.3rem;
}
h3.top-deal {
	font-size: 2.3rem;
	color: #4eb8c9; 
	text-align: center;
	text-shadow: 4px 4px #eee;
	font-family: 'Courgette', cursive;
}
.subscribe {
	height: 5rem;
	background-color: #F0F8FF;
	position: relative;
}
.email-box {
	position: absolute;
	top: 21px;
}
.card:hover {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.hotel {
	text-align: center;
}
#new-position {
	position: relative;
}
.badge {
	position:absolute;
	top: -1.3rem;
	left: 3rem;
}
.square {
	font-size: 14px;
	font-weight: 400;
	padding: 3px 7px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	background-color: #ffb000;
	color: #fff;
}
.triangle {
	width: 0;
	height: 0;
	border-width: 3px;
	border-style: solid;
	border-color: #ffb000 transparent transparent #ffb000;
}
i.icon-EN {
	width: 30px;
	height: 20px;
	display: inline-block;
	background-image: url('../images/global-sprite.png');
	background-position: 0 -48px;
	background-size: 240px auto;
	position: relative;
	top: 4.5px;
}
a#icon-EN {
	position: relative;
	top:-1.5px;
}
i.icon-App {
	width: 16px;
	height: 26px;
	display: inline-block;
	background-image: url('../images/global-sprite.png');
	background-position: -168px -120px;
	background-size: 240px auto;
}
span#icon-App {
	position: relative;
	top: -7px;
}
i.icon-Flights {
	width: 23px;
	height: 28px;
	display: inline-block;
	background-image: url('../images/global-sprite.png');
	background-position: -145px -248px;
	background-size: 240px auto;
	position: relative;
	top: 10px;
}
/*label#icon-Flights {
	position: relative;
}*/
i.icon-Hotels {
	width: 24px;
	height: 20px;
	display: inline-block;
	background-image: url('../images/global-sprite.png');
	background-position: -176px -251px;
	background-size: 240px auto;
	position: relative;
	top: 6px;
}
i.icon-Trains {
	width: 18px;
	height: 28px;
	display: inline-block;
	background-image: url('../images/global-sprite.png');
	background-position: -208px -248px;
	background-size: 240px auto;
	position: relative;
	top: 10px;
}
input.search_btn {
	width: 180px;
	height: 38px;
	background-color: #ffb000;;
	border: 0 none;
	border-radius: 4px;
	font-size: 16px;
	color: #fff;
	padding: 0 1em;
}
input.search_btn:hover {
	background-color: #ffc600
}
i.icon-switch {
	width: 28px;
	height: 28px;
	display: inline-block;
	background-image: url('../images/global-sprite.png');
	background-position: -112px -272px;
	/*background-image: url('../images/train-sprite.png');
	background-position: -111px -96px;*/
	background-size: 240px auto;
	position: relative;
	top: 36.5px;
}
i.icon-Account {
	width: 23px;
	height: 24px;
	display: inline-block;
	background-image: url('../images/global-sprite.png');
	background-position: -183px -94px;
	background-size: 240px auto;
	position: relative;
	top: 3px;
}
li#icon-Account a{
	background-color: rgb(17, 113, 183);
	border-radius: 30px;
	position: relative;
	top: 2px;
	padding: 4px;
}
span.Account {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	position: relative;
	top: -4px;
	left: -3px;
}
.hotels {
	cursor: pointer;
}
i.icon-star {
	width: 64px;
	height: 16px;
	display: inline-block;
	background-image: url('../images/global-sprite.png');
	background-position: 0 -367px;
	background-size: 240px auto;
}
.hotel-review {
	float: left;
	color: #828282;
	font-size: 14px;
	font-weight: 400;
}
.hotel-score {
	font-size: 18px;
}
.hotel-price {
	float: right;
	font-size: 14px;
	font-weight: 400;
	color: #f60;
}
.price-currency {

}
.price-num {
	font-size: 22px;
	font-weight: 700;
}
.hotels .card {
	position: relative;
}
.overlay-label {
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	position: absolute;
	top: 231px;
	padding: 6px 20px;
	width: 100%;
}
.hotel-rank {
	position: absolute;
	left: 90%;
	/*display: block;*/
}
i.crown {
	position: absolute;
	top: -36px;
	left: -40px;
	background-color: rgba(0, 0, 0, 0.5);
	display: block;
	width: 60px;
	height: 30px;
	font-weight: 400;
	border-radius: 60px 60px 0 0;
}
span.rank-num {
	position: absolute;
	top: -17px;
	left: -17px;
	font-size: 28px;
}
.hotel-rank img {
	width: 42px;
	position: absolute;
	top: -30px;
	left: -30px;
}
span.carousel-icon {
	background-color: #fb04ff;
	width: 40px;
	height: 40px;
	position: absolute;
}
span.previous {
	left: -30px !important;
}
span.next {
	left: 30px !important;
}
.app-download {
	background-color: #019EE2;
    background: linear-gradient(to right, #00BFE8 0, #2D64B3 100%);
    color: #fff;
}
.app-inner {
	width: 1180px;
    margin: 0 auto;
    position: relative;
    min-height: 360px;
}
.app-phone {
	background: url(../images/app-phone.png);
	width: 409px;
    height: 415px;
    display: block;
    position: absolute;
    /*background: no-repeat 0 0;*/
    bottom: 0;
    left: 50px;
}
.app-content {
	padding: 85px 0;
    padding-left: 490px;
    position: relative;
}
.txt {
	float: left;
    margin-bottom: 30px;
}
.desc {
	font-size: 20px;
}
.qr-image {
	float: left;
}
span.qr-code {
	background-image: url(../images/WeChat-Image.jpg);
	display: block;
    width: 116px;
    height: 116px;
    margin-left: 20px;
    position: relative;
    top: -30px;
}
.download-btns {
	clear: both;
    margin-top: 20px;
}
.download-btns a {
	color: #333;
	display: inline-block;
    width: 170px;
    height: 50px;
    margin-right: 4px;
    background-repeat: no-repeat;
}
a.btn-appstore {
	background-image: url(../images/app-download.png);
	background-position: 0 0;
}
a.btn-googleplay {
	background-image: url(../images/app-download.png);
	background-position: 0 -100px;
}
a.btn-android {
	background-image: url(../images/app-download.png);
	background-position: 0 -200px;
}
.ft-app {
	width: 50%;
    display: inline-block;
    text-align: right;
    padding-right: 80px;
    box-sizing: border-box;
    border-right: 1px solid #ececec;
}
.ft-app a {
	display: inline-block;
    padding: 10px 15px;
    border: 1px solid #dedede;
    border-radius: 6px;
    -webkit-transition: all 400ms ease-out;
    margin-right: 10px;
    vertical-align: middle;
}
.ft-app a:hover {
    color: #2681ff;
    box-shadow: inset 0 2px 3px #bdcedf;
    border-color: #91a7c3;
    border-top-color: rgb(145, 167, 195);
    border-right-color: rgb(145, 167, 195);
    border-bottom-color: rgb(145, 167, 195);
    border-left-color: rgb(145, 167, 195);
}
.ft-appstore i {
    width: 138px;
    height: 40px;
    background-image: url(../images/iphone_android.jpg);
    display: block;
}
.ft-googleplay i {
	width: 145px;
	height: 40px;
	background-image: url(../images/iphone_android.jpg);
	display: block;
	background-position: 0 -40px;
}
.ft-media {
    width: 50%;
    display: inline-block;
    text-align: left;
    padding-left: 70px;
    box-sizing: border-box;
}
.ft-media a {
	color: #007bff;
    text-decoration: none;
    background-color: transparent;
    margin: 0 10px;
    background-image: url(../images/global-sprite.png);
    background-size: 240px auto;
    transition: all ease 0.1s;
    width: 45px;
    height: 45px;
    display: inline-block;
}
.ft-media a:hover {
	color: #2681ff;
	transform: translateY(-3px);
}
.ft-app {
	float: left;
}
.icon-facebook {
    background-position: 0 -152px;
}
.icon-twitter {
    background-position: -48px -152px;    
}
.icon-youtube {
    background-position: 0 -200px;    
}
.icon-google {
    background-position: -48px -200px;    
}
.calendar-bounding-box {
	width: 296px !important;
}
/*.calendar-input-wrap span {
    background: url(../images/calendar-endicon.png) 
    -999px -999px no-repeat;
}*/
.carousel-control-prev-icon {
	position: absolute;
	left: -47px;
}
.carousel-control-next-icon {
	position: absolute;
	left: 173px;
}



