* {
	margin: 0;
	padding: 0;
}
main {
	border: 0 none;
}
nav {
	border-bottom: 2px solid #1171B7;
}
.background-image {
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-position: top left;
	border: 0.1px solid #fff;
}
.main-search {
	width: 55vw;
	height: 30%;
	margin-top: 2rem;
	margin-left: 3rem;
}
.table-ticket {
	width: 91vw;
	height: 30%;
	margin: 2rem 3rem;
}
.main-search, .table-ticket {
	background-color: rgba(0, 41, 64, 0.75);
	color: #fff;
}
h5.card-title {
	text-shadow: 4px 4px #eee;
	font-family: 'Kaushan Script', cursive;
	font-size: 1.5rem;
	font-weight: 400;
}
p.card-text {
	font-family: 'Dancing Script', cursive;
	font-size: 1.3rem;
}
a.link {
	font-family: 'Kaushan Script', cursive;
	font-size: 1.1rem;
}
.top-deal {
	font-size: 2.3rem;
	color: #4eb8c9; 
	text-align: center;
	text-shadow: 4px 4px #eee;
	font-family: 'Kaushan Script', cursive;
}
.subscribe {
	height: 5rem;
	background-color: #F0F8FF;
}
.card:hover {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.hotel {
	text-align: center;
}
#new-position {
	position: relative;
}
.badge {
	position:absolute;
	top: -1.3rem;
	left: 3rem;
}
.square {
	font-size: 14px;
	font-weight: 400;
	padding: 3px 7px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	background-color: #ffb000;
	color: #fff;
}
.triangle {
	width: 0;
	height: 0;
	border-width: 3px;
	border-style: solid;
	border-color: #ffb000 transparent transparent #ffb000;
}
i.icon-EN {
	width: 30px;
	height: 20px;
	display: inline-block;
	background-image: url('../images/global-sprite.png');
	background-position: 0 -48px;
	background-size: 240px auto;
	position: relative;
	top: 4.5px;
}
a#icon-EN {
	position: relative;
	top:-1.5px;
}
i.icon-App {
	width: 16px;
	height: 26px;
	display: inline-block;
	background-image: url('../images/global-sprite.png');
	background-position: -168px -120px;
	background-size: 240px auto;
}
span#icon-App {
	position: relative;
	top: -7px;
}
i.icon-Flights {
	width: 23px;
	height: 28px;
	display: inline-block;
	background-image: url('../images/global-sprite.png');
	background-position: -145px -248px;
	background-size: 240px auto;
	/*position: absolute;
	top: 4.5px;*/
}
/*label#icon-Flights {
	position: relative;
}*/
i.icon-Hotels {
	width: 24px;
	height: 20px;
	display: inline-block;
	background-image: url('../images/global-sprite.png');
	background-position: -176px -251px;
	background-size: 240px auto;
	/*position: absolute;
	top: 4.5px;*/
}
i.icon-Trains {
	width: 18px;
	height: 28px;
	display: inline-block;
	background-image: url('../images/global-sprite.png');
	background-position: -208px -248px;
	background-size: 240px auto;
	/*position: absolute;
	top: 4.5px;*/
}
input.search_btn {
	width: 180px;
	height: 38px;
	background-color: #FF9800;
	border: 0 none;
	border-radius: 4px;
	font-size: 16px;
	color: #fff;
	padding: 0 1em;
}
i.icon-switch {
	width: 28px;
	height: 28px;
	display: inline-block;
	background-image: url('../images/global-sprite.png');
	background-position: -112px -272px;
	/*background-image: url('../images/train-sprite.png');
	background-position: -111px -96px;*/
	background-size: 240px auto;
	position: relative;
	top: 36.5px;
}
i.icon-Account {
	width: 23px;
	height: 24px;
	display: inline-block;
	background-image: url('../images/global-sprite.png');
	background-position: -183px -94px;
	background-size: 240px auto;
	position: relative;
	top: 3px;
}
li#icon-Account a{
	background-color: rgb(17, 113, 183);
	border-radius: 30px;
	position: relative;
	top: 2px;
	padding: 4px;
}
span.Account {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	position: relative;
	top: -4px;
	left: -3px;
}
.hotels {
	cursor: pointer;
}
i.icon-star {
	width: 64px;
	height: 16px;
	display: inline-block;
	background-image: url('../images/global-sprite.png');
	background-position: 0 -367px;
	background-size: 240px auto;
}
.hotel-review {
	float: left;
	color: #828282;
	font-size: 14px;
	font-weight: 400;
}
.hotel-score {
	font-size: 18px;
}
.hotel-price {
	float: right;
	font-size: 14px;
	font-weight: 400;
	color: #f60;
}
.price-currency {

}
.price-num {
	font-size: 22px;
	font-weight: 700;
}
.hotels .card {
	position: relative;
}
.overlay-label {
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	position: absolute;
	top: 231px;
	padding: 6px 20px;
	width: 100%;
}
.hotel-rank {
	position: absolute;
	left: 90%;
	/*display: block;*/
}
i.crown {
	position: absolute;
	top: -36px;
	left: -40px;
	background-color: rgba(0, 0, 0, 0.5);
	display: block;
	width: 60px;
	height: 30px;
	font-weight: 400;
	border-radius: 60px 60px 0 0;
}
span.rank-num {
	position: absolute;
	left: -13px;
}