* {
	margin: 0;
	padding: 0;
}
body {
	color: #fff;
}
nav {
	border-bottom: 2px solid #1171B7;
}
.background-image {
	background-image: url('./images/bg.jpg');
	background-size: cover;
	background-position: top left;
	border: 0.1px solid #fff;
}
.main-search {
	width: 55vw;
	height: 30%;
	margin-top: 2rem;
	margin-left: 3rem;
}
.table-ticket {
	width: 100vw;
	height: 30%;
	margin-top: 2rem;
	margin-left: 3rem;
}
.main-search, .table-ticket {
	background-color: rgba(0, 41, 64, 0.75);
}
