* {
	margin: 0;
	padding: 0;
}
/*body {
	color: #fff;
}*/
nav {
	border-bottom: 2px solid #1171B7;
}
.background-image {
	background-image: url('./images/background.jpg');
	background-size: cover;
	background-position: top left;
	border: 0.1px solid #fff;
}
.main-search {
	width: 55vw;
	height: 30%;
	margin-top: 2rem;
	margin-left: 3rem;
}
.table-ticket {
	width: 91vw;
	height: 30%;
	margin: 2rem 3rem;
}
.main-search, .table-ticket {
	background-color: rgba(0, 41, 64, 0.75);
	color: #fff;
}
h5.card-title {
	text-shadow: 4px 4px #eee;
	font-family: 'Kaushan Script', cursive;
	font-size: 1.5rem;
	font-weight: 700;
}
p.card-text {
	font-family: 'Dancing Script', cursive;
	font-size: 1.3rem;
}
a.link {
	font-family: 'Kaushan Script', cursive;
	font-size: 1.1rem;
}
.top-deal {
	font-size: 2.3rem;
	color: #4eb8c9; 
	text-align: center;
	text-shadow: 4px 4px #eee;
	font-family: 'Kaushan Script', cursive;
}
.subscribe {
	height: 5rem;
	background-color: #F0F8FF;
}
.card:hover {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.hotel {
	text-align: center;
}
#new-position {
	position: relative;
}
.badge {
	position:absolute;
	top: -1.3rem;
	left: 3rem;
}
.square {
	font-size: 14px;
	font-weight: 400;
	padding: 3px 7px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	background-color: #ffb000;
	color: #fff;
	
}
.triangle {
	width: 0;
	height: 0;
	border-width: 3px;
	border-style: solid;
	border-color: #ffb000 transparent transparent #ffb000;
}